body {
  margin: 0;
  font-family: 'Trebuchet MS', roboto, ubuntu, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: 'Trebuchet MS', roboto, ubuntu, sans-serif !important;
}

#__react-alert__ div div div {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-transform: initial !important;
  font: inherit !important;
  padding: 5px !important;
}
